
*$py.class
bin/
build/
.cache
# C extensions
.coverage
.coverage.*
dist/
# Distribution / packaging
downloads/
.DS_Store
*.egg
*.egg-info/
.eggs/
eggs/
ENV/
.env
generated/
.midi_gen_ui_prefs.json
.midi_gen/
htmlcov/
.hypothesis/
.idea/
# IDE / Editor specific
include/
.installed.cfg
# Installer logs
lib/
lib64/
local/
# macOS
*.manifest
MANIFEST
.nox/
parts/
pip-delete-this-directory.txt
pip-log.txt
__pycache__/
*.py[cod]
# PyInstaller
.pytest_cache/
# Python
.Python
.python-version
pyvenv.cfg
*.sage.py
Scripts/
sdist/
*.so
*.spec
*.swo 
*.swp
.tox/
# Unit test / coverage reports
#  Usually these files are written by a script, but they do not need to be committed.
var/
.venv/
venv/
# Virtual environment
.vscode/
